{% extends 'base.html.twig' %}


{% block body %}
<body>
    <div id="bodyBlock" class="bodyBlock">
        <h1 class="title" data-controller="hello"></h1>
        <div class="bodyBlock_Tools" data-controller="text">
            <img
                    src="{{ asset('image/rsz_stimulus.jpg') }}"
                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image') }}
                    data-hd-src="{{ asset('image/Stimulus.png') }}"
                    width="250"
                    height="150"
            />

            <div>
                <span class="stimulusClass" data-text-target="textBlock">
Stimulus is a JavaScript framework with modest ambitions. It doesn’t seek to take over your entire front-end—in fact,
                    it’s not concerned with rendering HTML at all. Instead, it’s designed to augment your HTML with just enough behavior to make it shine.
                </span>
            </div>
        </div>
        <div class="bodyBlock_Tools" data-controller="text">
            <img
                    src="{{ asset('image/rsz_stimulus.jpg') }}"
                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image') }}
                    data-hd-src="{{ asset('image/Turbo.png') }}"
                    width="250"
                    height="100"
            />

            <div>
                <span class="TurboClass" data-text-target="textBlock">
                    Turbo uses complementary techniques to dramatically reduce the amount of custom JavaScript that most web applications will need to write
                </span>
            </div>
        </div>
        <div class="bodyBlock_Tools" data-controller="text">
            <img
                    src="{{ asset('image/rsz_stimulus.jpg') }}"
                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image') }}
                    data-hd-src="{{ asset('image/Strada.png') }}"
                    width="250"
                    height="100"
            />

            <div>
                <span class="StradaClass" data-text-target="textBlock">
                    Standardizes the way that web and native parts of a mobile hybrid application talk to each other via HTML bridge attributes.
                </span>
            </div>
        </div>
    </div>
</body>
{% endblock %}